<div id="container" class="effect mainnav-lg">

    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <div id="page-head">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">Expanded Navigation</h1>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
                    <li><a href="#"><i class="pli-home"></i></a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->


            </div>


            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">

                <hr class="new-section-sm bord-no">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="panel panel-body">
                            <div class="panel-body">
                                <router-outlet></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!--===================================================-->
            <!--End page content-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->

    </div>

    <app-footer></app-footer>
</div>